# Binance Futures Testnet API Key & Secret
EXCHANGE_API_KEY=your_testnet_key
EXCHANGE_SECRET_KEY=your_testnet_secret

# Çalışma Modu (True: Sanal Para / Testnet, False: Canlı Hesap)
TEST_MODE=True

# Telegram Bildirim Ayarları
TELEGRAM_BOT_TOKEN=your_telegram_token
TELEGRAM_CHAT_ID=your_chat_id

# İşlem Ayarları
SYMBOL=BTC/USDT
TIMEFRAME=15m
